/* Header 1 Navigation */
.logo {
  /* Layout*/
  display: flex;
  width: 44px;
  flex-direction: column;
  justify-content: center;

  font-size: 18px;
  font-family: "Raleway";
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-decoration: none;
  color: #4d5ae5;
}

.section {
  background: #fff;
}
ul.nav-menu.list,
ul.contacts-menu {
  list-style: none;
}
.page.current {
  color: #4d5ae5;
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.page {
  color: #2e2f42;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.item {
  color: #434455;
  text-decoration: none;

  text-decoration: none;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.hero {
  height: 600px;
  width: 1440px;
  left: 0px;
  top: 72px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: #2e2f42;
}

.hero-title {
  display: flex;
  width: 496px;

  color: #fff;
  text-align: center;
  /* Header 1 */
  font-size: 56px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.button.primary {
  position: relative;
  top: 120px;
  right: 315px;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  color: #ffff;

  padding: 16px 32px;

  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/*Header 1*/

.benefits {
  list-style-type: none;
  display: flex;
  background-color: #fff;
}
.title {
  display: flex;
  width: 264px;
  height: 24px;

  /* Header 3 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
}

.description {
  display: flex;
  width: 264px;
  flex-direction: column;
  font-size: 16px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #434455;
}

.section-title {
  list-style: none;
  display: flex;

  align-items: center;
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}

.what-we-do.list {
  list-style-type: none;
  display: flex;
  background-color: #fff;
}
.section {
  width: 1440px;
  height: 732px;
  flex-shrink: 0;
  background-color: #f4f4fd;
}
.team {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}

ul.team {
  display: flex;
  list-style: none;
  text-align: center;
  list-style-type: none;
  display: flex;
}

.name {
  color: #2e2f42;
  text-align: center;

  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.position {
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  font-family: "Roboto";
  line-height: 24px;
  letter-spacing: 0.32px;
}

.bg-footer {
  background-color: #2e2f42;
}

.p {
  display: flex;
  width: 264px;
  margin-left: 40px;
  font-size: 16px;
  font-family: "Roboto";
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #f4f4fd;
}
/* Portfolio */

.nav-buttons {
  list-style: none;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.button.filter {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border: none;
}

.button.filter.current {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  color: #ffff;
  background: #4d5ae5;
  display: flex;
  padding: 12px 24px;
}

.projects {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
}

.service,
.project {
  color: #2e2f42;
  /* Header 3 */
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-decoration: none;
}

.type {
  color: #434455;
  font-size: 16px;
  font-family: "Roboto";
  line-height: 24px;
  letter-spacing: 0.32px;
  align-items: center;
}
